<!DOCTYPE html>
<html>
<head>
    <title>Webshop</title>
    <script type="text/javascript" src="../lib/angular-1.2.1.js"></script>
    <script type="text/javascript" src="../lib/ui-utils-0.0.4.js"></script>
    <script type="text/javascript" src="../lib/lodash-2.3.0.js"></script>
    <script type="text/javascript" src="../lib/restangular-1.1.8.js"></script>
    <script type="text/javascript" src="../js/customer.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body ng-app="customer">
    <div ng-controller="searchPanelController">
        <div>
            <input ng-model="searchword" ui-event="{keyup : 'searchForProduct($event)'}"/>
        </div>
        <div>
            <ul class="searchresults">
                <li class="searchresults" ng-repeat="product in searchedProducts" id="{{product.id}}" ui-event="{click: 'selectProduct(product.name)'}">{{product.name}} - {{product.price}} {{product.currency}}</li>
            </ul>
        </div>
    </div>
    <div ng-controller="productsController" ng-init="loadCampaignProducts()">
        <div>
            <h1>Campaign products</h1>
            <ul>
                <li ng-repeat="product in products" value="{{product.id}}">({{product.id}}) {{product.name}} - {{product.price}} {{product.currency}}&nbsp;<a href="#" ui-event="{click: 'addToCart(product)'}"> Add to cart</a></li>
            </ul>
        </div>
        <div>Items in cart: {{shoppingCart.length}}&nbsp;<a href="#" ui-event="{click: 'order(shoppingCart)'}">Order</a></div>
    </div>
</body>
</html>