<html>
   <head>
       <title>Online Shopper - Product view</title>
       <script type="text/javascript" src="../lib/angular-1.2.1.js"></script>
       <script type="text/javascript" src="../lib/lodash-2.3.0.js"></script>
       <script type="text/javascript" src="../lib/restangular-1.1.8.js"></script>
       <script type="text/javascript" src="../js/admin.js"></script>
   </head>
   <body ng-app="admin">
        <div ng-controller="productController">
            <form>
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Currency</td>
                            <td>Tax percentage</td>
                            <td>Category</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" ng-model="product.name"></textfield></td>
                            <td><input type="number" ng-model="product.price"/></td>
                            <td><input type="text" ng-model="product.currency"/></td>
                            <td><input type="number" ng-model="product.taxpercentage"/></td>
                            <td><input type="text" ng-model="product.category"/></td>
                            <td><input ng-click="add()" type="button" value="Add"/></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        <div><pre>{{product | json}}</pre></div>
        </div>
   </body>
</html>
